# Тут пишем комментарии - что конкретно и почему игнорируем
# Игнорируем модули ноды
node_modules

# Игнорирует все файлы в проекте с раширением php
*.php

# Игнорируем файлы по определённому пути
/src/sass/base/normalize.scss
/src/sass/base/reset.scss

# Либо все файлы с подобным расширением в определённой папке
/src/img/*.css

# Добавляем файл в исключения гитигнора и файл будет отслеживаться
!/src/img/sample.css