$color-black: #000;
$color-white: #fff;
$color-gray: #777;
$color-brown-light: #BA8554;
$gradient-brown-light: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
$color-brown-dark: #A14F03;
$gradient-brown-dark: linear-gradient(90deg, #BA8554 0%, #000000 100%);
$gutter-horizontal: 6rem;
$box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);